<footer class="footer mx-5 mt-auto py-3 bg-white">
  <div class="d-flex flex-lg-row justify-content-between flex-column">
    <div class="center text-center">
      <p class="d-none d-md-block">
        <%= image_tag 'Technology_Services_logo_4c.png',
              alt: 'LSA Technology Logo',
              width: 300,
              height: 28.95,
              style: "opacity: 1; transform: rotate(0deg);",
              class: "img-fluid" %>
      </p>
      <p class="text-center footer-bold d-md-none">
        LSA Technology Services
      </p><!-- Left column content for small viewports -->
    </div>
    <div>
      <p class="text-center mb-0 footer-text">
        <%= link_to 'About', about_path, class: "footer-text footer-link" %> |
        <%= link_to 'Terms', terms_path, class: "footer-text footer-link" %> |
        <a href="https://umich.edu/about/privacy-statement/" class="footer-text footer-link" >Privacy Notice</a>
        <br><span class="footer-text">734.615.0100</span>
      </p>
    </div>
    <div>
      <p class="d-none d-md-block text-center footer-text">
        ©<%= Time.now.year %> |
        <a href="https://regents.umich.edu/" class="footer-text footer-link">The Regents of the University of Michigan</a>
        <br><%= link_to 'Admin Dashboard', admin_dashboard_path %>
      </p>
      <p class="d-md-none text-center mb-0 footer-text">
        <a href="https://regents.umich.edu/" class="footer-text footer-link" >The Regents of the University of Michigan</a>
        <br>©<%= Time.now.year %>
        <br><%= link_to 'Admin Dashboard', admin_dashboard_path %>
      </p>
      <!-- Right column content -->
    </div>
  </div>
</footer>
